Repository mapbox/mapbox-plugins-android, pull requests merged in 2018-09, with the labels that each got.

#640 Fix Localization set camera to locale country Javadoc broken link
  plugin-localization/src/main/java/com/mapbox/mapboxsdk/plugins/localization/LocalizationPlugin.java
Labels: localization-plugin, ready for review

#641 [LLP] prevent from showing the location layer on every location update
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayer.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java
Labels: location-layer-plugin, ready for review

#644 Release Location Layer Plugin 0.8.1
  plugin-locationlayer/CHANGELOG.md
  plugin-locationlayer/README.md
Labels: location-layer-plugin

#642 Add symbol plugin
  app/build.gradle
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/BaseActivityTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/MapboxMapAction.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManagerTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/WaitAction.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/SymbolActivity.java
  app/src/main/res/layout/activity_annotation.xml
  app/src/main/res/menu/menu_marker.xml
  app/src/main/res/values/strings.xml
  plugin-annotation/.gitignore
  plugin-annotation/build.gradle
  plugin-annotation/gradle.properties
  plugin-annotation/src/main/AndroidManifest.xml
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManagerTest.java
  settings.gradle
Labels: annotation-plugin

#652 Add MarkerView plugin
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/markerview/MarkerViewActivity.java
  app/src/main/res/layout/marker_view.xml
  app/src/main/res/values/strings.xml
  plugin-markerview/.gitignore
  plugin-markerview/build.gradle
  plugin-markerview/gradle.properties
  plugin-markerview/proguard-rules.pro
  plugin-markerview/src/main/AndroidManifest.xml
  plugin-markerview/src/main/java/com/mapbox/mapboxsdk/plugins/markerview/MarkerView.java
  plugin-markerview/src/main/java/com/mapbox/mapboxsdk/plugins/markerview/MarkerViewManager.java
  settings.gradle
Labels: markerview-plugin

#658 Add circle, fill and line support
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManagerTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/CircleTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/FillManagerTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/FillTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/LineManagerTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/LineTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/CircleActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/FillActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/LineActivity.java
  app/src/main/res/values/strings.xml
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Circle.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Fill.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Line.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnCircleClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnFillClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnLineClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnSymbolClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManagerTest.java
Labels: annotation-plugin

#673 [annotation] - code gen setup
  .gitignore
  gradle/checkstyle.gradle
  plugin-annotation/scripts/code-gen.js
  plugin-annotation/scripts/package.json
  plugin-annotation/scripts/v8.json
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Circle.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Fill.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Line.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnCircleClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnFillClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnLineClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnSymbolClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/annotation.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/annotationManager.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/annotationclicklistener.java.ejs
Labels: annotation-plugin

#676 Introduce abstract Annotation and AnnotationManager
  plugin-annotation/scripts/code-gen.js
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Annotation.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/AnnotationManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Circle.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Fill.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Line.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/annotation.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/annotationManager.java.ejs
Labels: annotation-plugin

#670 Adding READMEs for MarkerView and Annotation plugins
  plugin-annotation/README.md
  plugin-markerview/README.md
Labels: annotation-plugin, documentation, markerview-plugin

#678 Add support for Russian locale
  plugin-localization/src/main/java/com/mapbox/mapboxsdk/plugins/localization/MapLocale.java
Labels: localization-plugin

#685 Add long click listeners to annotation manager
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/CircleActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/FillActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/LineActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/SymbolActivity.java
  plugin-annotation/scripts/code-gen.js
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/AnnotationManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Circle.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Fill.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Line.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnAnnotationClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnAnnotationLongClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnCircleClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnCircleLongClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnFillClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnFillLongClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnLineClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnLineLongClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnSymbolClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnSymbolLongClickListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/annotation.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/annotationManager.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/annotationclicklistener.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/annotationlongclicklistener.java.ejs
Labels: annotation-plugin

#694 Don't invalidate camera mode if unnecessary for gestures initiated changes
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerCamera.java
  plugin-locationlayer/src/test/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerCameraTest.java
Labels: location-layer-plugin

#695 [annotation] - add make target for code generation
  Makefile
  package.json
  plugin-annotation/scripts/code-gen.js
Labels: annotation-plugin

#697 [annotation] Cleaned up naming and moved .ejs files
  plugin-annotation/scripts/annotation.java.ejs
  plugin-annotation/scripts/annotation_click_listener.java.ejs
  plugin-annotation/scripts/annotation_instrumentation_test.junit.ejs
  plugin-annotation/scripts/annotation_long_click_listener.java.ejs
  plugin-annotation/scripts/annotation_manager.java.ejs
  plugin-annotation/scripts/annotation_manager_instrumentation_test.junit.ejs
  plugin-annotation/scripts/annotation_manager_unit_test.junit.ejs
  plugin-annotation/scripts/code-gen.js
Labels: annotation-plugin

#702 Remove self update mechanism, CRUD interface
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/SymbolActivity.java
  plugin-annotation/scripts/annotation.java.ejs
  plugin-annotation/scripts/annotation_manager.java.ejs
  plugin-annotation/scripts/annotation_options.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Annotation.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/AnnotationManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Circle.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Fill.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Line.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolOptions.java
Labels: annotation-plugin

#704 [annotation] - add geojson compatible api
  plugin-annotation/scripts/annotation.java.ejs
  plugin-annotation/scripts/annotation_options.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Circle.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Fill.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Line.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolOptions.java
Labels: annotation-plugin

#706 Add animation duration multiplier configuration
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/PluginAnimatorCoordinator.java
  plugin-locationlayer/src/main/res-public/values/public_attrs.xml
  plugin-locationlayer/src/main/res/values/attrs.xml
Labels: location-layer-plugin
