Repository mapbox/mapbox-plugins-android, pull requests merged in 2018-07, with the labels that each got.

#575 Adding japanese and korean support to localization plugin
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/LocalizationActivity.java
  app/src/main/res/menu/menu_languages.xml
  plugin-localization/src/main/java/com/mapbox/mapboxsdk/plugins/localization/MapLocale.java
Labels: enhancement, localization-plugin

#572 Showing accuracy for forced location
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerTest.kt
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayer.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/Utils.java
Labels: location-layer-plugin

#571 Update LocationLayerPlugin's readme examples
  plugin-locationlayer/README.md
Labels: location-layer-plugin

#577 Animate accuracy ring when new value is provided
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerTest.kt
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayer.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerAnimator.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerConstants.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/Utils.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/camera/AccuracyAnimator.java
Labels: location-layer-plugin

#578 Release LocationLayerPlugin 0.6.0
  plugin-locationlayer/CHANGELOG.md
  plugin-locationlayer/gradle.properties
Labels: location-layer-plugin

#582 Update ProGuard to support built-in shrinker of Gradle Plugin
  plugin-locationlayer/proguard-consumer.pro
  plugin-offline/proguard-consumer.pro
  plugin-places/proguard-consumer.pro
Labels: location-layer-plugin, offline-plugin, places-plugin, ready for review

#589 Fix flaky zoom tests
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPluginTest.kt
  app/src/debug/res/layout/activity_single.xml
Labels: location-layer-plugin

#592 [LLP] always make plugin visible in location start
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPluginTest.kt
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java
Labels: location-layer-plugin

#594 Check if the layer is hidden when setting render mode
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerTest.kt
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayer.java
Labels: location-layer-plugin

#607 Release LocationLayerPlugin v0.7.1
  plugin-locationlayer/CHANGELOG.md
Labels: location-layer-plugin
