Repository mapbox/mapbox-plugins-android, pull requests merged in 2018-12, with the labels that each got.

#777 Generic geometry
  plugin-annotation/scripts/annotation.java.ejs
  plugin-annotation/scripts/annotation_options.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Annotation.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Circle.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Fill.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Line.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolOptions.java
Labels: annotation-plugin

#785 Traffic plugin update
  plugin-traffic/src/main/java/com/mapbox/mapboxsdk/plugins/traffic/TrafficPlugin.java
Labels: traffic-plugin

#792 Repo and markerview README additions
  README.md
  plugin-markerview/README.md
Labels: documentation, ready for review

#791 Update localization plugin with the Maps SDK v7.0.0
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/localization/LocalizationActivity.kt
  app/src/main/res/layout/activity_localization.xml
  plugin-localization/src/main/java/com/mapbox/mapboxsdk/plugins/localization/LocalizationPlugin.java
Labels: localization-plugin

#794 Update localization plugin tests with the Maps SDK v7.0.0
  plugin-localization/src/test/java/com/mapbox/mapboxsdk/plugins/localization/LocalizationPluginTest.java
Labels: localization-plugin

#797 Maps 6.8.0 bump
  gradle/dependencies.gradle
Labels: ready for review
