Repository mapbox/mapbox-plugins-android, pull requests merged in 2018-11, with the labels that each got.

#753 Draggable annotations
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManagerTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/CircleTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/FillManagerTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/FillTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/LineManagerTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/LineTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManagerTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolTest.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/CircleActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/FillActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/LineActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/SymbolActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/building/BuildingActivity.kt
  app/src/main/res/layout/activity_annotation.xml
  app/src/main/res/menu/menu_circle.xml
  app/src/main/res/menu/menu_fill.xml
  app/src/main/res/menu/menu_line.xml
  app/src/main/res/menu/menu_symbol.xml
  package.json
  plugin-annotation/build.gradle
  plugin-annotation/scripts/annotation.java.ejs
  plugin-annotation/scripts/annotation_drag_listener.java.ejs
  plugin-annotation/scripts/annotation_instrumentation_test.junit.ejs
  plugin-annotation/scripts/annotation_manager.java.ejs
  plugin-annotation/scripts/annotation_manager_instrumentation_test.junit.ejs
  plugin-annotation/scripts/annotation_manager_unit_test.junit.ejs
  plugin-annotation/scripts/code-gen.js
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Annotation.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/AnnotationManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Circle.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/DraggableAnnotationController.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Fill.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Line.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnAnnotationDragListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnCircleDragListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnFillDragListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnLineDragListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/OnSymbolDragListener.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/DraggableAnnotationControllerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/FillManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/LineManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManagerTest.java
Labels: annotation-plugin

#762 Set layer properties expressions only on utilized properties
  plugin-annotation/scripts/annotation.java.ejs
  plugin-annotation/scripts/annotation_manager.java.ejs
  plugin-annotation/scripts/annotation_manager_unit_test.junit.ejs
  plugin-annotation/scripts/annotation_options.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Annotation.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/AnnotationManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Circle.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/ConvertUtils.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/DraggableAnnotationController.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Fill.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Line.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Options.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolOptions.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/FillManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/LineManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/PropertyValueMatcher.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManagerTest.java
Labels: annotation-plugin

#764 Release annotation plugin 0.3.0
  circle.yml
  plugin-annotation/gradle.properties
Labels: annotation-plugin

#768 Draggable builder option
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/CircleActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/SymbolActivity.java
  plugin-annotation/scripts/annotation_options.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolOptions.java
Labels: annotation-plugin

#769 Make package private abstract classes public
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/AnnotationManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Options.java
Labels: annotation-plugin

#773 6.7.1 Maps SDK bump
  gradle/dependencies.gradle
Labels: ready for review

#772 Create annotations from FeatureCollection/GeoJSON
  app/src/main/assets/annotations.json
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/Utils.kt
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/CircleActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/FillActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/LineActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/SymbolActivity.java
  plugin-annotation/scripts/annotation_manager.java.ejs
  plugin-annotation/scripts/annotation_manager_unit_test.junit.ejs
  plugin-annotation/scripts/annotation_options.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/AnnotationManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/ConvertUtils.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolOptions.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/FillManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/LineManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManagerTest.java
Labels: annotation-plugin

#775 Exposed filter API
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/SymbolActivity.java
  app/src/main/res/menu/menu_symbol.xml
  plugin-annotation/scripts/annotation_manager.java.ejs
  plugin-annotation/scripts/annotation_manager_unit_test.junit.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/FillManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/LineManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManagerTest.java
Labels: annotation-plugin

#779 Cancelling download reworked - fixes #714
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflineDownloadService.java
Labels: offline-plugin
