Repository mapbox/mapbox-plugins-android, pull requests merged in 2018-04, with the labels that each got.

#392 Adds missing xml attributes
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.java
  plugin-locationlayer/src/main/res-public/values/public_attrs.xml
  plugin-locationlayer/src/main/res/values/attrs.xml
  plugin-locationlayer/src/main/res/values/styles.xml
Labels: ready for review

#399 changed integer to dimension
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.java
Labels: ready for review

#402 removes duplicate APIs
  README.md
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java
Labels: ready for review

#414 Bumps map version
  gradle/dependencies.gradle
Labels: ready for review

#408 removes GeoJSON dependency in geoJSON plugin
  plugin-geojson/build.gradle
Labels: ready for review

#416 release 0.5.0-beta.2
  plugin-locationlayer/CHANGELOG.md
Labels: ready for review

#420 Fix LocationLayerAnimator ignored updates for first second
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerAnimator.java
Labels: bug, location-layer-plugin

#422 Fix Proguard issues
  app/proguard-rules.pro
  plugin-geojson/proguard-consumer.pro
  plugin-locationlayer/proguard-consumer.pro
  plugin-offline/proguard-consumer.pro
  plugin-places/proguard-consumer.pro
Labels: build, geojson-plugin, location-layer-plugin, offline-plugin, places-plugin, ready for review

#421 use default download icon for notification
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/model/NotificationOptions.java
Labels: ready for review

#419 remove support library and use just livedata dependency
  gradle/dependencies.gradle
  plugin-locationlayer/build.gradle
Labels: location-layer-plugin

#431 Remove invalid Location update check
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerAnimator.java
Labels: bug, location-layer-plugin

#407 Cleaned up offline plugin
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/offline/OfflinePluginTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/offline/OfflineDownloadActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/offline/OfflineRegionDetailActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/offline/OfflineUiComponentsActivity.java
  app/src/main/res/layout/activity_offline_download.xml
  plugin-offline/build.gradle
  plugin-offline/proguard-rules.pro
  plugin-offline/src/main/AndroidManifest.xml
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/OfflineRegionSelector.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/model/NotificationOptions.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/model/OfflineDownloadOptions.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflineConstants.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflineDownloadChangeDispatcher.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflineDownloadChangeListener.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflineDownloadService.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflineDownloadStateReceiver.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflinePlugin.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/ui/OfflineActivity.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/utils/NotificationUtils.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/utils/OfflineUtils.java
Labels: ready for review

#427 Initialize in a stale state
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/StaleStateManager.java
Labels: location-layer-plugin

#430 Max animation duration when tracking
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerAnimator.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerConstants.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/camera/BearingAnimator.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/camera/LatLngAnimator.java
Labels: location-layer-plugin

#440 Update release all plugins
  plugin-building/CHANGELOG.md
  plugin-building/gradle.properties
  plugin-cluster/CHANGELOG.md
  plugin-cluster/gradle.properties
  plugin-geojson/CHANGELOG.md
  plugin-geojson/gradle.properties
  plugin-localization/CHANGELOG.md
  plugin-localization/gradle.properties
  plugin-offline/CHANGELOG.md
  plugin-offline/gradle.properties
  plugin-places/CHANGELOG.md
  plugin-places/gradle.properties
  plugin-traffic/CHANGELOG.md
  plugin-traffic/gradle.properties
Labels: building-plugin, cluster-plugin, geojson-plugin, localization, offline-plugin, places-plugin, traffic-plugin

#426 Use json features instead of layer properties setters
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayer.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerConstants.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java
Labels: location-layer-plugin

#468 Add offline UI options
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/offline/OfflineUiComponentsActivity.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/OfflinePluginConstants.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/OfflineRegionSelector.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/model/OfflineDownloadOptions.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/model/RegionSelectionOptions.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/ui/OfflineActivity.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/ui/RegionSelectionFragment.java
Labels: offline-plugin, ready for review

#467 Remove multiple IDs inside download options class
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/offline/OfflineRegionDetailActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/offline/OfflineUiComponentsActivity.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/OfflinePluginConstants.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/OfflineRegionSelector.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/model/OfflineDownloadOptions.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/model/RegionSelectionOptions.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflineDownloadService.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflinePlugin.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/ui/OfflineActivity.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/ui/RegionSelectionFragment.java
Labels: offline-plugin, ready for review

#466 Added javadoc to offline classes
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/offline/OfflineRegionDetailActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/offline/OfflineUiComponentsActivity.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/OfflinePluginConstants.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/OfflineRegionSelector.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/model/OfflineDownloadOptions.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/model/RegionSelectionOptions.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflineDownloadService.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflinePlugin.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/ui/OfflineActivity.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/ui/RegionSelectionFragment.java
Labels: offline-plugin, ready for review

#448 Release LocationLayerPlugin v0.5.0
  plugin-locationlayer/CHANGELOG.md
  plugin-locationlayer/gradle.properties
Labels: location-layer-plugin

#463 adds transifex
  .tx/config
  CONTRIBUTING.md
Labels: ready for review
