Repository mapbox/mapbox-plugins-android, pull requests merged in 2018-08, with the labels that each got.

#623 Release LocationLayerPlugin v0.7.2
  circle.yml
  plugin-locationlayer/gradle.properties
Labels: location-layer-plugin

#625 Expose bearing compass accuracy
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/CompassManager.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java
  plugin-locationlayer/src/test/java/com/mapbox/mapboxsdk/plugins/locationlayer/CompassManagerTest.java
Labels: location-layer-plugin

#620 When camera is in a tracking mode, animate instead of snapping on the first location fix
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/location/LocationLayerModesActivity.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/PluginAnimatorCoordinator.java
Labels: location-layer-plugin

#630 PluginAnimatorCoordinator unit tests
  gradle/dependencies.gradle
  plugin-locationlayer/build.gradle
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/PluginAnimatorCoordinator.java
  plugin-locationlayer/src/test/java/com/mapbox/mapboxsdk/plugins/locationlayer/PluginAnimatorCoordinatorTest.kt
Labels: location-layer-plugin

#628 allow adding location layer plugin below a certain layer
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/location/LocationLayerModesActivity.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayer.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.java
  plugin-locationlayer/src/main/res/values/attrs.xml
Labels: location-layer-plugin

#632 Remove unused LiveData depenedency for LocationLayerPlugin
  gradle/dependencies.gradle
  plugin-locationlayer/build.gradle
Labels: location-layer-plugin, ready for review

#618 Adding new location layer plugin constructor for options and default engine
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPluginTest.kt
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/utils/PluginGenerationUtil.kt
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/location/ManualLocationUpdatesActivity.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java
Labels: location-layer-plugin, ready for review

#631 Add LocationLayer unit tests
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LayerBitmapProvider.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LayerFeatureProvider.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LayerSourceProvider.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayer.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java
  plugin-locationlayer/src/test/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerTest.java
Labels: location-layer-plugin, ready for review

#627 Add fallback compass sensors for devices without a gyroscope
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/CompassManager.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java
  plugin-locationlayer/src/test/java/com/mapbox/mapboxsdk/plugins/locationlayer/CompassManagerTest.java
Labels: enhancement, location-layer-plugin, ready for review

#626 Add getter and setter for CompassEngine interface
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPluginTest.kt
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/CompassEngine.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerCompassEngine.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/modes/RenderMode.java
  plugin-locationlayer/src/test/java/com/mapbox/mapboxsdk/plugins/locationlayer/CompassEngineTest.java
Labels: feature, location-layer-plugin, ready for review

#633 Remove auto value
  plugin-locationlayer/build.gradle
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerOptions.java
Labels: location-layer-plugin

#639 Release LocationLayerPlugin 0.8.0
  plugin-locationlayer/CHANGELOG.md
  plugin-locationlayer/README.md
  plugin-locationlayer/gradle.properties
Labels: location-layer-plugin
