Repository mapbox/mapbox-plugins-android, pull requests merged in 2018-10, with the labels that each got.

#716 Location Layer Plugin 0.10.0 release README bump
  plugin-locationlayer/README.md
Labels: location-layer-plugin

#721 Color api for android color ints, remove string api
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/CircleTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/FillTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/LineTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolTest.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/SymbolActivity.java
  plugin-annotation/scripts/annotation.java.ejs
  plugin-annotation/scripts/annotation_instrumentation_test.junit.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Circle.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Fill.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Line.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
Labels: annotation-plugin

#726 integrate pattern for fills and lines
  plugin-annotation/scripts/annotation_manager.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
Labels: annotation-plugin

#729 Deprecating LocationLayerPlugin
  plugin-locationlayer/README.md
  plugin-locationlayer/src/main/java/com/mapbox/mapboxsdk/plugins/locationlayer/LocationLayerPlugin.java
Labels: location-layer-plugin

#732 Plugin README link updates
  plugin-building/README.md
  plugin-localization/README.md
  plugin-locationlayer/README.md
  plugin-markerview/README.md
  plugin-offline/README.md
  plugin-traffic/README.md
Labels: documentation, ready for review

#743 Annotation readme bump to 0.2.0
  plugin-annotation/README.md
Labels: annotation-plugin, documentation, ready for review

#734 Adding /android-docs links to the plugin READMEs
  plugin-annotation/README.md
  plugin-building/README.md
  plugin-localization/README.md
  plugin-offline/README.md
  plugin-places/README.md
  plugin-traffic/README.md
Labels: documentation, enhancement, ready for review

#745 Maps SDK 6.6.2 bump
  gradle/dependencies.gradle
Labels: ready for review
