Repository mapbox/mapbox-plugins-android, pull requests merged in 2019-08, with the labels that each got.

#1025 Bumped Maps SDK version to 8.2.1
  gradle/dependencies.gradle
Labels: ready for review

#1033 Refactor plugins state management in case of widget recreation
  gradle/dependencies.gradle
  plugin-scalebar/build.gradle
  plugin-scalebar/src/main/java/com/mapbox/pluginscalebar/ScaleBarPlugin.java
  plugin-scalebar/src/test/java/com/mapbox/pluginscalebar/ScaleBarPluginTest.kt
Labels: scale-plugin

#1034 Invalidate the widget when plugin is toggled
  plugin-scalebar/src/main/java/com/mapbox/pluginscalebar/ScaleBarPlugin.java
  plugin-scalebar/src/test/java/com/mapbox/pluginscalebar/ScaleBarPluginTest.kt
Labels: scale-plugin

#1035 Listen for camera idle event
  plugin-scalebar/src/main/java/com/mapbox/pluginscalebar/ScaleBarPlugin.java
  plugin-scalebar/src/test/java/com/mapbox/pluginscalebar/ScaleBarPluginTest.kt
Labels: scale-plugin

#1036 Invalidate the widget when plugin is toggled
  plugin-scalebar/src/main/java/com/mapbox/pluginscalebar/ScaleBarPlugin.java
  plugin-scalebar/src/test/java/com/mapbox/pluginscalebar/ScaleBarPluginTest.kt
Labels: scale-plugin

#1039 Release Localization plugin 0.11.0
  plugin-localization/CHANGELOG.md
  plugin-localization/README.md
  plugin-localization/gradle.properties
Labels: localization-plugin, ready for review

#1041 Release Scale Bar Plugin 0.3.0
  plugin-scalebar/CHANGELOG.md
  plugin-scalebar/README.md
  plugin-scalebar/gradle.properties
Labels: ready for review
