Repository mapbox/mapbox-plugins-android, pull requests merged in 2019-05, with the labels that each got.

#949 Add nitpick for generated code
  circle.yml
  gradle/nitpick.gradle
  package-lock.json
  plugin-annotation/build.gradle
Labels: annotation-plugin

#948 Allow to set custom arbitrary data on annotations
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/FillActivity.java
  plugin-annotation/scripts/annotation_manager_unit_test.junit.ejs
  plugin-annotation/scripts/annotation_options.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Annotation.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolOptions.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/FillManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/LineManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManagerTest.java
Labels: annotation-plugin

#962 Adding ability to set status bar color in places plugin search UI
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/places/AutocompleteFragmentActivity.kt
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/places/AutocompleteLauncherActivity.kt
  plugin-places/src/main/java/com/mapbox/mapboxsdk/plugins/places/autocomplete/model/PlaceOptions.java
  plugin-places/src/main/java/com/mapbox/mapboxsdk/plugins/places/autocomplete/ui/PlaceAutocompleteActivity.java
  plugin-places/src/main/java/com/mapbox/mapboxsdk/plugins/places/autocomplete/ui/PlaceAutocompleteFragment.java
Labels: places-plugin, ready for review

#923 Maps SDK v7.4.0
  gradle/dependencies.gradle
  plugin-places/src/test/java/com/mapbox/mapboxsdk/plugins/places/autocomplete/data/converter/CarmenFeatureConverterTest.java
Labels: ready for review

#963 Maps SDK bump to 8.0.0
  gradle/dependencies.gradle
Labels: ready for review

#964 Added check for null latLng in PlacePickerActivity makeReverseGeocodingSearch()
  plugin-places/src/main/java/com/mapbox/mapboxsdk/plugins/places/picker/ui/PlacePickerActivity.java
Labels: places-plugin, ready for review

#965 Adding includeReverseGeocoding call method to PlacePickerOptions
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/places/PickerLauncherActivity.kt
  app/src/main/res/layout/activity_picker_launcher.xml
  app/src/main/res/values/strings.xml
  plugin-places/src/main/java/com/mapbox/mapboxsdk/plugins/places/picker/model/PlacePickerOptions.java
  plugin-places/src/main/java/com/mapbox/mapboxsdk/plugins/places/picker/ui/PlacePickerActivity.java
Labels: enhancement, feature, places-plugin, ready for review

#955 Add Scale bar plugin
  app/build.gradle
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/scalebar/ScaleBarTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/scalebar/ScalebarActivity.kt
  app/src/main/res/drawable/ic_scale.xml
  app/src/main/res/layout/activity_scalebar.xml
  app/src/main/res/values/strings.xml
  plugin-scalebar/.gitignore
  plugin-scalebar/build.gradle
  plugin-scalebar/gradle.properties
  plugin-scalebar/proguard-rules.pro
  plugin-scalebar/src/main/AndroidManifest.xml
  plugin-scalebar/src/main/java/com/mapbox/pluginscalebar/ScaleBarConstants.java
  plugin-scalebar/src/main/java/com/mapbox/pluginscalebar/ScaleBarOptions.java
  plugin-scalebar/src/main/java/com/mapbox/pluginscalebar/ScaleBarPlugin.java
  plugin-scalebar/src/main/java/com/mapbox/pluginscalebar/ScaleBarWidget.java
  plugin-scalebar/src/main/res/values/dimens.xml
  settings.gradle
Labels: ready for review
