Repository mapbox/mapbox-plugins-android, pull requests merged in 2019-01, with the labels that each got.

#802 Maps SDK 6.8.1 bump
  gradle/dependencies.gradle
Labels: ready for review

#804 README link fix
  README.md
Labels: documentation, ready for review

#805 Add cancel text and enable/disable map snapshots notification options
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/model/NotificationOptions.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflineDownloadService.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/utils/NotificationUtils.java
Labels: offline-plugin

#811 Added plugin naming blurb to README
  README.md
  plugin-annotation/README.md
  plugin-building/README.md
  plugin-localization/README.md
  plugin-markerview/README.md
  plugin-offline/README.md
  plugin-places/README.md
  plugin-traffic/README.md
Labels: documentation, ready for review

#821 Show style change button in annotation examples
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/BulkSymbolActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/DynamicSymbolChangeActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/FillChangeActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/LineChangeActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/PressForSymbolActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/SymbolActivity.java
  app/src/main/res/layout/activity_annotation.xml
Labels: annotation-plugin

#822 Do not flag click events as handled
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/PressForSymbolActivity.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/AnnotationManager.java
Labels: annotation-plugin

#828 Fallbacks for Localization plugin (CP #823)
  plugin-localization/src/main/java/com/mapbox/mapboxsdk/plugins/localization/LocalizationPlugin.java
  plugin-localization/src/main/java/com/mapbox/mapboxsdk/plugins/localization/MapLocale.java
  plugin-localization/src/test/java/com/mapbox/mapboxsdk/plugins/localization/LocalizationPluginTest.java
  plugin-localization/src/test/java/com/mapbox/mapboxsdk/plugins/localization/MapLocaleTest.java
Labels: localization-plugin
