Repository mapbox/mapbox-plugins-android, pull requests merged in 2019-04, with the labels that each got.

#902 Adding note about Java 8 requirement for Annotation Plugin
  plugin-annotation/README.md
Labels: annotation-plugin, documentation, ready for review

#897 Support string color for layout properties
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/CircleTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/FillTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/LineTest.java
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolTest.java
  plugin-annotation/scripts/annotation.java.ejs
  plugin-annotation/scripts/annotation_instrumentation_test.junit.ejs
  plugin-annotation/scripts/annotation_manager_unit_test.junit.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Circle.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Fill.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Line.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/FillManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/LineManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManagerTest.java
Labels: annotation-plugin

#898 Use with prefix for options
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/CircleActivity.java
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/SymbolActivity.java
  plugin-annotation/scripts/annotation_options.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolOptions.java
Labels: annotation-plugin

#906 Notify gesture manager when drag is handled (CP #885)
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/AnnotationManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/DraggableAnnotationController.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/DraggableAnnotationControllerTest.java
Labels: annotation-plugin

#905 Register only one style loaded listener
  plugin-annotation/scripts/annotation_manager_unit_test.junit.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/AnnotationManager.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/FillManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/LineManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManagerTest.java
  plugin-building/src/main/java/com/mapbox/mapboxsdk/plugins/building/BuildingPlugin.java
  plugin-localization/src/main/java/com/mapbox/mapboxsdk/plugins/localization/LocalizationPlugin.java
  plugin-traffic/src/main/java/com/mapbox/mapboxsdk/plugins/traffic/TrafficPlugin.java
Labels: annotation-plugin, building-plugin, localization-plugin, traffic-plugin

#910 Use constants wherever property name strings are needed
  plugin-annotation/scripts/annotation.java.ejs
  plugin-annotation/scripts/annotation_manager.java.ejs
  plugin-annotation/scripts/annotation_options.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Circle.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Fill.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Line.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolComparator.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolOptions.java
Labels: annotation-plugin

#909 Expose GeoJsonOptions
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/SymbolActivity.java
  plugin-annotation/scripts/annotation_manager.java.ejs
  plugin-annotation/scripts/annotation_manager_unit_test.junit.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/AnnotationManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CoreElementProvider.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/FillManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/LineManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManagerTest.java
Labels: annotation-plugin

#912 Check for null intent in case of a service restart (CP #864)
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflineDownloadService.java
Labels: offline-plugin

#913 Use a generic OfflineRegionDefinition
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/OfflineRegionSelector.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/model/OfflineDownloadOptions.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/offline/OfflineDownloadService.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/ui/OfflineActivity.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/ui/RegionSelectedCallback.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/ui/RegionSelectionFragment.java
  plugin-offline/src/main/java/com/mapbox/mapboxsdk/plugins/offline/utils/OfflineUtils.java
Labels: offline-plugin

#918 Fix examples to use a generic offline region definition
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/offline/OfflineRegionDetailActivity.kt
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/offline/OfflineRegionListActivity.kt
Labels: offline-plugin

#920 README bumps for new plugin releases
  plugin-annotation/README.md
  plugin-localization/README.md
  plugin-offline/README.md
  plugin-places/README.md
Labels: annotation-plugin, documentation, localization-plugin, offline-plugin, places-plugin, ready for review

#926 added onClick check of max and min zoom values in OfflineDownloadActivity
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/offline/OfflineDownloadActivity.kt
Labels: bug, offline-plugin

#922 Adding visual limit option to the number of recently seached places
  app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/places/autocomplete/ui/PlaceAutocompleteFragmentTest.java
  plugin-places/src/main/java/com/mapbox/mapboxsdk/plugins/places/autocomplete/model/PlaceOptions.java
  plugin-places/src/main/java/com/mapbox/mapboxsdk/plugins/places/autocomplete/ui/PlaceAutocompleteFragment.java
Labels: places-plugin, ready for review, starter-task

#928 Update home/work placeName and coordinates injection for AutocompleteLauncherActivity
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/places/AutocompleteLauncherActivity.kt
Labels: places-plugin

#939 Uppercase static fields
  plugin-annotation/scripts/annotation.java.ejs
  plugin-annotation/scripts/annotation_manager.java.ejs
  plugin-annotation/scripts/annotation_options.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Circle.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Fill.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Line.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/Symbol.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolComparator.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolOptions.java
Labels: annotation-plugin

#941 Add multiple manager support
  app/src/main/java/com/mapbox/mapboxsdk/plugins/testapp/activity/annotation/LineChangeActivity.java
  plugin-annotation/scripts/annotation_element_provider.java.ejs
  plugin-annotation/scripts/annotation_manager.java.ejs
  plugin-annotation/scripts/code-gen.js
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/AnnotationManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleElementProvider.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CoreElementProvider.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillElementProvider.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineElementProvider.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineManager.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolElementProvider.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManager.java
Labels: annotation-plugin

#940 Add getGeometry
  plugin-annotation/scripts/annotation_manager_unit_test.junit.ejs
  plugin-annotation/scripts/annotation_options.java.ejs
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/CircleOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/FillOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/LineOptions.java
  plugin-annotation/src/main/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolOptions.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/CircleManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/FillManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/LineManagerTest.java
  plugin-annotation/src/test/java/com/mapbox/mapboxsdk/plugins/annotation/SymbolManagerTest.java
Labels: annotation-plugin
